@model Semester_End.ViewModels.RegisterViewModel


@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}




<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center">
                    <a href="index.html" class="logo">
                        <img src="~/Content/assets/img/logo/logo-black.png" alt="" height="50" class="logo-light mx-auto mt-5 mb-4">
                        <img src="~/Content/assets/img/logo/logo-black.png" alt="" height="50" class="logo-dark mx-auto mb-4">
                    </a>
                    
                </div>
                <div class="card" style="border-radius: 100px;">

                    <div class="card-body p-4"> 

                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0">Register</h4>
                        </div>

                        <form method="post">



                            <div class="form-group">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control" asp-for="Email" type="email" id="emailaddress" placeholder="Enter your email">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" asp-for="Password" type="password" id="password" placeholder="Enter your password">
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input class="form-control" asp-for="ConfirmPassword" type="password" id="password" placeholder="Enter your password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                    <label class="custom-control-label" for="checkbox-signup">I accept <a href="javascript: void(0);" class="text-dark">Terms and Conditions</a></label>
                                </div>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit"> Sign Up </button>
                            </div>

                        </form>

                     </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Already have account?  <a asp-action="Login" asp-controller="Account" class="text-dark ml-1"><b>Sign In</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
